@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
    
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: hsl(180,0%,99%);
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 1.7;
}

header{
    background: url("./images/bg-pattern-top.svg") no-repeat right 50vw bottom 40vh,
    url("./images/bg-pattern-bottom.svg") no-repeat left 50vw top 40vh;
    background-color: var(--Dark-cyan);
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
}

p{
    color: var(--Dark-gray);
    font-weight: 400;
}

h1{
    color: var(--Very-dark-desaturated-blue);
    font-weight:700;
    font-size:17px;
}

.bold{
    font-weight:700;
    color: var(--Very-dark-desaturated-blue);
}
.card{
    background-color: #fff;
    width: 350px;
    height: 375px;
    border-radius: 10px;
    position: relative;
    z-index: 2;

}
.card .card-head{
    background: url('./images/bg-pattern-card.svg') no-repeat center center/cover;
    height: 145px;
    border-radius: 10px 10px 0 0;
}
.card .img-container{
    display: relative;
    background-color:#fff;
    top: 0;
    margin:0 auto;
    width: 100px;
    height: 100px;
    border-radius:50%;
    transform: translatey(-50%);
    padding: 5px;
}
.card .img-container .img{
    background:url('./images/image-victor.jpg') no-repeat center center/cover ;
    height:100%;
    width:100%;
    border-radius: 50%;
}
.card .acc-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -30px auto 10px auto;
}
.card .acc-info .name-age{
    display: flex;
}
.card .acc-info .name-age h1{
    margin-right: 12px;

}
.card .acc-info .name-age p{
    font-size:17px;
}

.card .acc-stats{
    padding: 20px 50px;
    display:flex;
    justify-content:space-between;
    text-align:center;
    border-top: 2px solid hsl(0, 13%, 92%);;
}
/* - Mobile: 375px
- Desktop: 1440px */
